@import '../../styles/variables.scss';
@import '../../styles/index.scss';

.card {
    cursor: pointer;


    &__img {
        margin-bottom: 20px;

    }

    img::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10px;
        background: $orangeColor;
        content: '';
    }

    &__name {
        color: $titleColor;
        font-size: 24px;
        font-weight: 500;
    }

    &__subname {
        color: $accentColor;
        font-size: 18px;
        font-weight: 400;
    }

    &__name {
        color: $titleColor;
        font-size: 24px;
        font-weight: 500;
    }

    &__subname {
        color: $accentColor;
        font-size: 18px;
        font-weight: 400;
    }

    &:hover {
        img {
            border-image: 5px solid $orangeColor;

            &::before {
                content: '';
                height: 5px;
                background: $orangeColor;
                position: absolute;
                bottom: 5px;
                left: 0;
                width: 100%;
                transform: translate3d(0, 10px, 0);
                transition: transform 0.35s;
            }
        }
    }
}