@import '../../../styles/variables.scss';

.post {
    &__title {
        font-size: 24px;
        font-weight: 500;
        color: $titleColor;
        margin-bottom: 7px;
    }

    &__text {
        font-size: 20px;
        font-weight: 400;
        color: $accentColor;
    }

    &__item {
        margin-bottom: 20px;
        max-width: 960px;
    }

}