@import '../../styles/variables.scss';

.slick-arrow {
    width: 48px;
    height: 48px;
}

.slick-prev,
.slick-next {
    width: 48px;
    height: 48px;
    border-radius: 50%;

    &::before {
        content: '';
    }
}

.slick-prev {
    position: absolute;
    top: -40px;
    left: 46%;
    background: url('../../assets/arrow-prev.svg') center center;

    &:focus {
        background: $orangeColor;
        background: url('../../assets/arrow-prev.svg') center center;
    }

    &:hover {
        background: $orangeColor;
        background: url('../../assets/arrow-prev.svg') center center;
    }

}

.slick-next {
    position: absolute;
    top: -40px;
    right: 46%;
    background: url('../../assets/arrow-next.svg') center center;

    &:focus {
        background: $orangeColor;
        background: url('../../assets/arrow-next.svg') center center;

    }

    &:hover {
        background: $orangeColor;
        background: url('../../assets/arrow-next.svg') center center;

    }

}



.slider {
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.slick-list {
    max-width: 1250px;
    padding: 0 10px;
    margin: 0 auto;
}

@media (max-width: 1250px) {

    .slick {
        &-prev {
            left: 44%;
        }

        &-next {
            right: 44%;
        }
    }

}

@media (max-width: 750px) {
    .slider {}

    .slick {
        &-prev {
            left: 42%;
        }

        &-next {
            right: 42%;
        }
    }

}

@media (max-width: 550px) {
    .slider {
        max-width: 300px;
    }

    .slick {
        &-prev {
            left: 33%;
        }

        &-next {
            right: 33%;
        }
    }

}